{% extends 'artyprod/navbar.html' %}
{% block content %}
<form method="post" class="contact-form" action="{% url 'contact' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <input class="form-item" type="text" name="name" placeholder=" Your Name" value="" size="50">
    </div>
    <div class="col-md-6">
      <input class="form-item" type="text" name="subject" placeholder=" Your Subject" value="" size="50">
    </div>
    <div class="col-md-12">
      <input class="form-item" type="email" name="email" placeholder="Your Working Email" value="" size="50">
    </div>
    <div class="col-md-12">
      <input class="form-item" type="number" name="phone" placeholder="Your Actual Phone Number" value=""
        size="80">
    </div>
    <div class="col-md-12">
      <textarea class="form-item" name="message" id="message" placeholder="Enter Your Message Or Query"></textarea>
    </div>
    <div class="col-md-12">
      <input class="btn-submit" type="submit" value="Send">
    </div>
  </div>
</form>

{% endblock %}